.slambook-home{
    color: #471323; 
    margin-top: 4rem; 
    margin-bottom: 4rem;
} 
.form-wrapper{
    width: 30vw;
    margin: 0 auto;
    
}
.input-group-text{
    font-size: 1.25rem;
}
.form-wrapper .input-wrapper{
    margin: 1em 0;
}

.error{
    color: red;
}