.headerNav{
    background-color: #0075c4; 
    color: white;
    font-size: 1.5rem; 
    font-weight: 500; 
    height: 6rem;
}
.nav-link{
    color: white;
}
.navbar-brand{
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-style: oblique; 
    color: white;
    text-shadow: 2px 2px 4px rgb(240, 140, 157); 
    padding: 0.5rem;
    border: 2px solid gray;
    
} 
.navbar-brand:focus{
    border: 2px solid white;
    box-shadow: 2px 2px beige;
    color: black;
} 
.nav-link:active{
    border: 2px solid white;
    color: black;
} 