.footer-wrapper{
    width: 100%; 
    position: fixed ;
    bottom: 0;
    height: 5rem;
    color: blue;
    font-size:1.25rem; 
    overflow: auto;
   
}
.footer-content{
    background-image: linear-gradient(rgb(199, 195, 195), white); 
}
#footer-nav{
    color: black;
}
#footer-nav:active{
    border: 1px solid black;
}