.footer-wrapper{
    width: 100%; 
    position: absolute ;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    color: blue;
    font-size:1.25rem; 
    flex-wrap: nowrap;
}
.footer-content{
    background-image: linear-gradient(rgb(199, 195, 195), white); 
}
#footer-nav{
    color: black;
}
#footer-nav:active{
    border: 1px solid black;
}