.footer-wrapper{
    width: 100%; 
    position: fixed ;
    bottom: 0;   
    color: blue;
    font-size: 0.85rem;  
}
.footer-content{
    background-image: linear-gradient(rgb(199, 195, 195), white); 
    overflow: auto !important;  
}
#footer-nav{
    color: black;
}
#footer-nav:active{
    border: 1px solid black;
}